# 每个不同学生自己的byyt网站中的六位神秘数字
STU_ID = the six digits after "search/" in the URL of the byyt website

URL = https://byyt.ecnu.edu.cn/student/for-std/lesson-search/search/
SESSION = the session ID in the cookie