name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install Dependencies
        run: |
          npm install -g yarn
          yarn --frozen-lockfile --non-interactive

      - name: Lint
        run: |
          yarn lint
        env:
          CI: true

      - name: Build
        run: yarn build

      - name: Checkout data into dist/course-plus-data
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: data
          path: dist/course-plus-data
          fetch-depth: 0
          persist-credentials: true

      - name: git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit gh-pages
        run: |
          cd dist
          rm -rf course-plus-data/.git course-plus-data/.github
          rm course-plus-data/fetcher.py course-plus-data/parser.py
          touch CNAME
          echo "plus.myecnu.org" >> CNAME
          git init
          git add .
          git commit -m "⏱️ $(date +"%Y年%m月%d日-%H时%M分") GitHub Actions定时更新"
          git push --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:gh-pages